// @import "~bootstrap/scss/bootstrap";
@import '../../assets/styles/colors';

* {
    box-sizing: border-box;
}

body {
    background-color: $color-4;
}

a {
    color: inherit;
    text-decoration: none;
}

.msg {
    width: 100%;
    text-align: center;

    .error {
        color: red;
    }

    .success {
        color: green;
        
        p {
            color: green;
        }
    }
}