// @import "~bootstrap/scss/bootstrap";
@import '../../assets/styles/colors';

body {
    background-color: $color-4;
}

.msg {
    width: 100%;
    text-align: center;

    .error {
        color: red;
    }

    .success {
        color: green;
        
        p {
            color: green;
        }
    }
}